<h2>
    Exam on Course {{currentExam.course.code}}, Student: {{currentAttempt.studentID}}
</h2>
Points {{currentAttempt.total}}
<div class="container panel">
    <form [formGroup]="myForm">
        <div class="panel-heading">
            <h3>Q{{currentQuestionIndex+1}}: {{myForm.value.questionText}}</h3>
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="radio" class="form-check-input" formControlName="completion" (change)="changeCompletion(myForm.value.id, $event.target.value)" value="Correct" />
                        Correct</label>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="radio" class="form-check-input" formControlName="completion" (change)="changeCompletion(myForm.value.id, $event.target.value)" value="Blank" />
                        Blank</label>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="radio" class="form-check-input" formControlName="completion" (change)="changeCompletion(myForm.value.id, $event.target.value)" value="Attempted"/>
                        Attempted</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="container panel" style="background-color: lavender">
                <div class="panel-heading">
                    <h4>Justifications</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Points</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="myForm.value.max" aria-valuemin="0" aria-valuemax="myForm.value.max"
                                style="min-width: 1em;" [attr.aria-valuenow]="myForm.value.total" [style.width]="(myForm.value.total/myForm.value.max)*100 + '%'">
                                {{myForm.value.total}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="myForm.value.completion === 'Attempted'">
                        <div class="row" style="margin-bottom: 10px; font-weight: bold">
                            <div class="col-md-4">Justification</div>
                            <div class="col-md-6">Censor defined severity</div>
                        </div>
                        <hr style="margin:0px; border-top: 1px solid #ddd;" />
                        <div formArrayName="arguments">
                            <div *ngFor="let arg of myForm.controls.arguments.controls; let i=index">
                                <hr style="margin:0px; border-top: 1px solid #ddd;" />
                                <div [formGroupName]="i" class="row" style="padding:5px">
                                    <div class="col-md-4">

                                        <input type="checkbox" formControlName="apliesTo" style="width:20px; height:20px" (change)="changeArg($event.target.checked, arg.value.id, arg.value.questionID)"
                                        />
                                        <div style="display:inline; vertical-align:super"> {{arg.value.text}} </div>
                                    </div>
                                    <div class="col-md-6" *ngIf="arg.value.variable">

                                        <span> {{arg.value.maxMistakeText}} </span>
                                        <input type="range" min="arg.value.maxMistakeWeight" max="arg.value.minMistakeWeight" value="arg.value.maxMistakeWeight"
                                            formControlName="variableVal" (change)="changeSlider($event.target.value, arg.value.id, arg.value.questionID)"
                                        />
                                        <span class="pull-right"> {{arg.value.minMistakeText}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Adjustment</label>
                            <input type="number" value="0" class="form-control" formControlName="adjustment" (blur)="changedAdjustment(myForm.value.id, $event)"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Comnment</label>
                        <input type="text" class="form-control" formControlName="note" (change)="changedNote(myForm.value.id, $event)" />
                    </div>
                </div>


                <div *ngIf="myForm.value.completion === 'Attempted'">
                    <div class="container panel" *ngFor="let question of myForm.controls.childs.controls; let a=index;">

                        <div [formGroup]="question">
                            <div class="panel-heading">
                                <h3>Q{{currentQuestionIndex+1}}.{{a+1}}: {{question.value.questionText}}</h3>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="completion" (change)="changeCompletion(question.value.id, $event.target.value)" value="Correct" />
                                            Correct</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="completion" (change)="changeCompletion(question.value.id, $event.target.value)" value="Blank" />
                                            Blank</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                            <input type="radio" class="form-check-input" formControlName="completion" (change)="changeCompletion(question.value.id, $event.target.value)" value="Attempted"/>
                                            Attempted</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="container panel" style="background-color: lavender">
                                    <div class="panel-heading">
                                        <h4>Justifications</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>Points</label>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="question.value.max" aria-valuemin="0" aria-valuemax="question.value.max"
                                                    style="min-width: 1em;" [attr.aria-valuenow]="question.value.total" [style.width]="(question.value.total/question.value.max)*100 + '%'">
                                                    {{question.value.total}}
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="question.value.completion === 'Attempted'">
                                            <div class="row" style="margin-bottom: 10px; font-weight: bold">
                                                <div class="col-md-4">Justification</div>
                                                <div class="col-md-6">Censor defined severity</div>
                                            </div>
                                            <hr style="margin:0px; border-top: 1px solid #ddd;" />
                                            <div formArrayName="arguments">
                                                <div *ngFor="let arg of question.controls.arguments.controls; let i=index">
                                                    <hr style="margin:0px; border-top: 1px solid #ddd;" />
                                                    <div [formGroupName]="i" class="row" style="padding:5px">
                                                        <div class="col-md-4">

                                                            <input type="checkbox" formControlName="apliesTo" style="width:20px; height:20px" (change)="changeArg($event.target.checked, arg.value.id, arg.value.questionID)"
                                                            />
                                                            <div style="display:inline; vertical-align:super"> {{arg.value.text}} </div>
                                                        </div>
                                                        <div class="col-md-6" *ngIf="arg.value.variable">

                                                            <span> {{arg.value.maxMistakeText}} </span>
                                                            <input type="range" min="arg.value.maxMistakeWeight" max="arg.value.minMistakeWeight" value="arg.value.maxMistakeWeight"
                                                                formControlName="variableVal" (change)="changeSlider($event.target.value, arg.value.id, arg.value.questionID)"
                                                            />
                                                            <span class="pull-right"> {{arg.value.minMistakeText}} </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Adjustment</label>
                                                <input type="number" value="0" class="form-control" formControlName="adjustment" (blur)="changedAdjustment(question.value.id, $event)"
                                                />
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <label>Comnment</label>
                                            <input type="text" class="form-control" formControlName="note" (change)="changedNote(question.value.id, $event)" />
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>
    <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-primary" (click)="moveTo(currentQuestionIndex-1)" *ngIf="currentQuestionIndex>0">previous</button>
        <button type="button" class="btn btn-info">jump to</button>
        <button type="button" class="btn btn-primary" (click)="moveTo(currentQuestionIndex+1)" *ngIf="currentQuestionIndex<questionDisplayList.length-1 && myForm.value.completion!=null">next</button>
    </div>

</div>

<div class="container panel">
    <div class="panel-heading">
        <h4>General criterea</h4>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 10px; font-weight: bold">
            <div class="col-md-4">Criterea</div>
            <div class="col-md-2">Impact from mistakes</div>
            <div class="col-md-2">Adjustment</div>
            <div class="col-md-3">Final impact</div>
        </div>
        <hr style="margin:0px; border-top: 1px solid #ddd;" />

        <div *ngFor="let crit of critereaDisplayList; let i=index">
            <hr style="margin:0px; border-top: 1px solid #ddd;" />
            <div class="row" style="padding:5px">
                <div class="col-md-4">
                    <span style="vertical-align:super"> {{crit.name}} </span>
                </div>
                <div class="col-md-2"> {{crit.calculated}} </div>
                <div class="col-md-2">
                    <input type="number" class="form-control" [value]="critereaDisplayList[i].adjustment" max="crit.calculated*-1" min="-100"
                        (focusout)="adjustImpact($event.target.value,i)" />
                    <small *ngIf="(critereaDisplayList[i].adjustment + crit.calculated)>0" class="text-danger">
                        Total sum may be a maximum of 0
                    </small>
                </div>
                <div class="col-md-3"> {{crit.total}} </div>
            </div>
        </div>
    </div>
</div>

<div class="margin-20">
    <pre>form {{myForm.value | json }} </pre>
    <pre>currentAttempt {{currentAttempt | json}} </pre>
</div>