<h2>
    Censoring exam INF220 for student: 1234567789</h2>
<div class="container panel">
    <div class="panel-heading">
        <h3>Q1: Qestion text</h3>
        <div class="row">
            <div class="col-xs-2">
                <div class="form-check">
                    <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" />
              Correct</label>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-check">
                    <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" />
              Blank</label>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-check">
                    <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" />
              Attempted</label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>Points #numberOfPoints</label>
                <progress value="22" max="100" style="width:100%" class="form-control" ></progress>
            </div>
            <div class="form-group">
                <label>Adjustment #adjustment</label>
                <input type="range" min="-100" max="100" value="0" class="form-control" /></div>
            <div class="container panel" style="background-color: lavender">
                <div class="panel-heading">
                    <h4>Justifications</h4>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px; font-weight: bold">
                        <div class="col-md-4">Justification</div>
                        <div class="col-md-6">Censor defined severity</div>
                    </div>
                    <hr style="margin:0px; border-top: 1px solid #ddd;" />
                    <div>
                        <hr style="margin:0px; border-top: 1px solid #ddd;" />
                        <div class="row" style="padding:5px">
                            <div class="col-md-4">
                                <input type="checkbox" class="form-control" style="display:inline; width:20px; height:20px" />
                                <div style="display:inline; vertical-align:super">Some mistake he made</div>
                            </div>
                            <div class="col-md-6">
                                <span>Min text</span>
                                <input type="range" min="-100" max="100" value="0" />
                                <span class="pull-right">Max text</span></div>
                        </div>
                        <hr style="margin:0px; border-top: 1px solid #ddd;" />
                        <div class="row" style="padding:5px">
                            <div class="col-md-4">
                                <input type="checkbox" class="form-control" style="display:inline; width:20px; height:20px" />
                                <div style="display:inline; vertical-align:super">Some mistake he made</div>
                            </div>
                            <div class="col-md-6">
                                <span>Min text</span>
                                <input type="range" min="-100" max="100" value="0" />
                                <span class="pull-right">Max text</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container panel" style="background-color: lavender">
                <div class="panel-heading">
                    <h4>General criterea</h4>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px; font-weight: bold">
                        <div class="col-md-4">Criterea</div>
                        <div class="col-md-2">Impact from mistakes</div>
                        <div class="col-md-2">Adjustment</div>
                        <div class="col-md-3">final</div>
                    </div>
                    <hr style="margin:0px; border-top: 1px solid #ddd;" />
                    <div>
                        <hr style="margin:0px; border-top: 1px solid #ddd;" />
                        <div class="row" style="padding:5px">
                            <div class="col-md-4">
                                <span style="vertical-align:super">Some criterea</span>
                            </div>
                            <div class="col-md-2">10</div>
                            <div class="col-md-2">
                                <input type="number" class="form-control" />
                            </div>
                            <div class="col-md-3">15</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Comnment</label>
                <input type="text" class="form-control" /></div>
        </form>
        <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-primary">previous</button>
            <button type="button" class="btn btn-info">jump to</button>
            <button type="button" class="btn btn-primary">next</button></div>
    </div>
</div>
<div class="margin-20"></div>